*{ /* Aspectos generales a todo el documento */
    margin: 0px;
    padding: 0px;
    list-style: none;   /* Para no ver puntitos de li */
}

.clearfix{
    float: none;
    clear: both;    /* Limpiamos lo que se superpone. */
}

#global{    /* Creamos la gran caja global */
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;  /*Margen entre bordes*/
    background:white;
    box-shadow: 0px 0px 2px gray; /* Pequeña sombra */
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    letter-spacing: 4px;    /* Separacion entre letras */
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;       /* Para acomodarlo a la izquierda.*/
    margin-bottom: 20px;
    line-height: 75px;
    text-transform: uppercase;
}

#menu{
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;  /*Transormamos el texto a mayusc.*/
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    list-style: none;
}

#menu ul li{
    height: 46px;
    display: inline-block; /*Elementos uno al lado de otro*/
    transition: all 300ms;
}

#menu ul li a{
    display: block;
    color: white;
    text-decoration: none; /*Saco subrayado azul*/
    padding-left: 30px;
    padding-right: 30px;
}

.bx-wrapper, .bx-viewport{
    height: 250px !important; /* Important da prioridad a esta sentencia.*/

}


#posts{
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
}

.post {
    padding: 5px;
}

h2{
    font-size: 30px;
    color: #333;
    font-family: Helvetica, Arial;
}

.post .fecha{
    display: block;
    color: gray;
    margin-top: 5px;
}

.post p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: justify;
}

.post .more{
    display:block;
    padding: 10px;
    color:white;
    text-decoration: none;
    margin-top:10px;
    width:70px;
    font-size: 14px;
    text-align: center;
}

#sidebar{
    font-family: Helvetica, Arial;
    width: 31%;
    float: right;
}

#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333; 
    background: url(../img/lines.png) repeat-x; /* patron de lineas */
}

#sidebar h4 span{   /* Background blanco en las lineas*/
    background: white;
    padding: 5px;
}

#sidebar img{   /* Formateamos imagen de sidebar */
    width:100%;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]
form input[type="number"],
form input [type="select"]{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid gray;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
}

form input[type="submit"]{
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    color: #333;
    cursor:pointer;
}

footer {
    font-family: Helvetica, Arial;
    color: white;
    height: 47px;
    background: rgba(51,51,51, 0.70);
    margin: 0px auto;
    width: 65%;
    padding:left 20px;
    padding: right 20px;
    margin-top: 50px;
    line-height: 47px;
    text-align: center;
}

#selector{
    position: fixed;    /* Fijado cuando se hace scroll.*/
    top:40%;
    background: rgba(51,51,51, 0.5);
    width: 50px;
    height: 100px;
}

#selector #rojo,
#selector #azul,
#selector #verde{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#selector #rojo{
    background: #CA3413;
}

#selector #azul{
    background: #1F87C4;
}

#selector #verde{
    background: #235E3D;
}

.subir{
    color:white;
    text-decoration: none;
    display: block;
    float: right;
    margin-right: 5px;
}

#box{ /*Del acordeon*/
    width:60%;
    float: left;
    margin-top:40px;
}

#acordeon{
    margin-top: 20px;

}

#reloj{
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica, Arial;
    color: #333;
    border: 5px dashed #333;
    text-align:center;
    width: 40%;
    padding: 30px;
    margin: 0px auto;
}

#contacto{
    margin-top:10px;
    width:50%;
    font-family: Helvetica,Arial;
}

#contacto label{
    width:100%;
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-error{    /*Formato del mensaje de error de jQueryValidator*/
    /* float:right; */
    font-size:15px;
    background: red;
    color: white;
    padding: 10px;
    width:100%
}